<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="/stylesheets/ol3.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/dropzone.css" />
	<script type="text/javascript" src="/jscripts/jQuery.2.1.4.min.js"></script>
	<script type="text/javascript" src="/jscripts/openLayers.3.5.0.js"></script>
</head>
<body>
	<div id="map" class="map"></div>
	<div id="mask"><p id="progress"></p></div>
	<p id="status">FileReader API or BLOB not supported in this browser</p>
</body>
<script type="text/javascript" src="/jscripts/find-nearest-postcode.js"></script>
</html>